<h3><%="#{I18n.t(:listing)} #{I18n.t(:transaction_goods_item)}"%></h3>

<%= render 'form' %>

<%= link_to I18n.t(:show), @transaction_goods_item %> |
<%= link_to I18n.t(:back), transaction_goods_items_path %>
