<h3>Participação Itens Nas Vendas</h3>
<%= bar_graph  [['Gouda', 24], 
                 ['Havarti', 9], 
                 ['Provolone', 81], 
                 ['Wensleydale', 57], 
                 ['Stilton', 42]] %>