<h3><%="#{I18n.t(:editing)} #{I18n.t(:goods_additional_type)}"%></h3>

<%= render 'form' %>

<%= link_to I18n.t(:show), @goods_additional_type %> |
<%= link_to I18n.t(:back), goods_additional_types_path %>
