<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @goods_additional_type.name %>
</p>


<%= link_to 'Edit', edit_goods_additional_type_path(@goods_additional_type) %> |
<%= link_to 'Back', goods_additional_types_path %>
