<h3><%="#{I18n.t(:editing)} #{I18n.t(:transaction_goods_taxe)}"%></h3>

<%= render 'form' %>

<%= link_to I18n.t(:show), @transaction_goods_taxis %> |
<%= link_to I18n.t(:back), transaction_goods_taxes_path %>
