<table>
<tr>
	<td>Nota</td>
	<td>Série</td>
	<td>Cliente</td>
	<td>Valor Nota</td>
	<td>Valor Frete</td>
	<td>Valor Despesas</td>
	<td>Valor Produtos</td>
</tr>
<%= form_for(@report_transaction) do |f| %>
<tr>
</tr>
<% end %>
<table>


