<h3><%="#{I18n.t(:editing)} #{I18n.t(:goods_additional_value)}"%></h3>

<%= render 'form' %>

<%= link_to I18n.t(:show), @goods_additional_value %> |
<%= link_to I18n.t(:back), goods_additional_values_path %>
