<h1>Listing address_places</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @address_places.each do |address_place| %>
  <tr>
    <td><%= link_to I18n.t(:show), address_place %></td>
    <td><%= link_to I18n.t(:edit), edit_address_place_path(address_place) %></td>
    <td><%= link_to I18n.t(:destroy), address_place, :confirm => I18n.t(:are_you_sure?), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Place', new_address_place_path %>
